<mat-dialog-content>Fill in fields to add activity group</mat-dialog-content>
<div class="example-container">
	<form #todayActivityGroupForm="ngForm">
		<mat-form-field>
			<input matInput placeholder="Today Activity Group" id="label" [(ngModel)]="todayActivityGroup.label" name="label">
		</mat-form-field>
	</form>
</div>
<mat-dialog-actions>
	<button mat-button mat-dialog-close>Cancel</button>
	<button mat-button [mat-dialog-close]="true" (click)="addTodayActivityGroup()" type="submit" color="primary">Add</button>
</mat-dialog-actions>