<mat-dialog-content>Fill in fields to add siding type</mat-dialog-content>
<div class="example-container">
	<form #sidingTypeForm="ngForm">
		<mat-form-field>
			<input matInput placeholder="Siding Type" id="label" [(ngModel)]="sidingType.label" name="label">
		</mat-form-field>
	</form>
</div>
<mat-dialog-actions>
	<button mat-button mat-dialog-close>Cancel</button>
	<button mat-button [mat-dialog-close]="true" (click)="addSidingType()" type="submit" color="primary">Add</button>
</mat-dialog-actions>