.example-header {
	min-height: 56px;
	max-height: 56px;
	max-width: 250px;
	display: flex;
	align-items: center;
	/*padding: 8px 24px 0;*/
	font-size: 20px;
	justify-content: space-between;
	border-bottom: 1px solid transparent;
}

.mat-icon {
	transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
    cursor: pointer;
}

.example-no-results {
	display: flex;
	justify-content: center;
	padding: 24px;
	font-size: 12px;
	font-style: italic;
}

/** Selection styles */
.example-selection-header {
	font-size: 18px;
	background: rgba(255, 64, 129, 0.3);
	border-bottom: 1px solid #d696ac;
}

.mat-column-select {
	max-width: 54px;
}

.mat-row:hover, .example-selected-row {
	background: #f5f5f5;
}

.mat-row:active, .mat-row.example-selected-row {
	background: #eaeaea;
}

.container-fluid, .container{
	margin-top: 1.5rem;
	margin-bottom: 64px;
	display: flex;
	flex-direction: column;
}

h1 {
    margin-bottom: 1.5rem;
}

.mat-table {
	overflow: auto;
}

.element-row {
	position: relative;
}

.element-row:not(.expanded) {
	cursor: pointer;
}

.element-row:not(.expanded):hover {
	background: #f5f5f5;
}

.element-row.expanded {
	border-bottom-color: transparent;
}

.example-container {
	display: flex;
	flex-direction: column;
	max-height: 500px;
	min-width: 300px;
}

.element-row {
	position: relative;
}

.element-row:not(.expanded) {
	cursor: pointer;
}

.element-row:not(.expanded):hover {
	background: #f5f5f5;
}

.element-row.expanded {
	border-bottom-color: transparent;
}

#details {
	padding: 10px;
}

#details p {
	margin: 0px;
}

#details button {
	margin: 5px 0px;
}
#currentCustomer {
    border-right: 2px solid black;
}

p {
    margin: 0px;
}

.no-results {
	display: flex;
	justify-content: center;
	padding: 24px;
	font-size: 12px;
	font-style: italic;
}

mat-dialog-actions {
	margin-top: 15px;
}

.mat-row, .mat-header-row {
	border-bottom-color: transparent;
}