<div class="container-fluid">
	<mat-tab-group>
		<mat-tab label="Users">
			<app-adminusertable></app-adminusertable>
		</mat-tab>
		<mat-tab label="Reference Data">
			<mat-tab-group>
				<mat-tab label="Dead Lead Reasons">
					<app-reference-deadleadreason></app-reference-deadleadreason>
				</mat-tab>
				<mat-tab label="Home Types">
					<app-reference-hometype></app-reference-hometype>
				</mat-tab>
				<mat-tab label="Insurers">
					<app-reference-insurer></app-reference-insurer>
				</mat-tab>
				<mat-tab label="Lead Sources">
					<app-reference-leadsources></app-reference-leadsources>
				</mat-tab>
				<mat-tab label="Lead Status">
					<app-reference-leadstatuses></app-reference-leadstatuses>
				</mat-tab>
				<mat-tab label="Phone Types">
					<app-reference-phonetypes></app-reference-phonetypes>
				</mat-tab>
				<mat-tab label="Referrals">
					<app-reference-referrals></app-reference-referrals>
				</mat-tab>
				<mat-tab label="Roles">
					<app-reference-roles></app-reference-roles>
				</mat-tab>
				<mat-tab label="Roof Types">
					<app-reference-rooftypes></app-reference-rooftypes>
				</mat-tab>
				<mat-tab label="Siding Types">
					<app-reference-sidingtypes></app-reference-sidingtypes>
				</mat-tab>
				<mat-tab label="Today Activity">
					<app-reference-todayactivities></app-reference-todayactivities>
				</mat-tab>
				<mat-tab label="Today Activity Groups">
					<app-reference-todayactivitygroups></app-reference-todayactivitygroups>
				</mat-tab>
				<mat-tab label="Zones">
					<app-reference-zones></app-reference-zones>
				</mat-tab>
			</mat-tab-group>
		</mat-tab>
		<mat-tab label="Email Templates">
			<app-emailtemplatetable></app-emailtemplatetable>
		</mat-tab>
		<mat-tab label="Email Repository">
			<app-emailrepo></app-emailrepo>
		</mat-tab>
		<mat-tab label="Document Repository">
			
		</mat-tab>
		<mat-tab label="Email Logs">
			<app-emaillogrepo></app-emaillogrepo>
		</mat-tab>
		<mat-tab label="Notes Repo">
			<app-notesrepo></app-notesrepo>
		</mat-tab>
	</mat-tab-group>
</div>