<mat-dialog-content>Fill in fields to add phone type</mat-dialog-content>
<div class="example-container">
	<form #phoneTypeForm="ngForm">
		<mat-form-field>
			<input matInput placeholder="Phone Type" id="label" [(ngModel)]="phoneType.label" name="label">
		</mat-form-field>
	</form>
</div>
<mat-dialog-actions>
	<button mat-button mat-dialog-close>Cancel</button>
	<button mat-button [mat-dialog-close]="true" (click)="addPhoneType()" type="submit" color="primary">Add</button>
</mat-dialog-actions>