<mat-dialog-content>
	<div class="row" id="customerDetail">
		<div class="col-4">
			<mat-card class="card">
					<h5>Name: {{ customer.firstName }} {{ customer.lastName }}</h5>
					<p><b>Customer ID:</b> {{ customer.id }}</p>
					<button mat-raised-button color="primary" (click)="editCustomer()"><mat-icon>edit</mat-icon><span> Edit Customer</span></button>			
				<mat-card-header class="card-header">
					<mat-card-title><mat-icon>local_phone</mat-icon><span>Phone Book</span></mat-card-title>
				</mat-card-header>
				<mat-card-content class="content-detail">
					<p><b>Phone 1:</b><span>{{ customer.phone1 }} ({{ customer.phone1TypeId }})</span></p>
					<p><b>Phone 2:</b><span>{{ customer.phone2 }} ({{ customer.phone2TypeId }})</span></p>
					<p><b>Phone 3:</b><span>{{ customer.phone3 }} ({{ customer.phone3TypeId }})</span></p>
					<p><b>Phone 4:</b><span>{{ customer.phone4 }} ({{ customer.phone4TypeId }})</span></p>
					<p><b>Best time to contact:</b><span>{{ customer.bestTimeToContact }}</span></p>
				</mat-card-content>
				<mat-card-header class="card-header">
					<mat-card-title><mat-icon>mail_outline</mat-icon><span>Addresses</span></mat-card-title>
				</mat-card-header>
				<mat-card-content class="content-detail">
					<p><b>Customer address:</b><span>{{ customer.street }}, {{ customer.city}}, {{ customer.stateId }}, {{ customer.zip }}</span></p>
					<p><b>Mailing address:</b><span>{{ customer.mailingStreet }}, {{ customer.mailingCity}}, {{ customer.mailingStateId }}, {{ customer.mailingZip }}</span></p>
				</mat-card-content>
				<mat-card-header class="card-header">
					<mat-card-title><mat-icon>list_alt</mat-icon><span>Other Details</span></mat-card-title>
				</mat-card-header>
				<mat-card-content class="content-detail">
					<p><b>Other name: </b><span>{{ customer.otherName }}</span></p>
					<p><b>Birth Date:</b><span>{{ customer.birthDate | shortDate }}</span></p>
					<p><b>Creation date:</b><span>{{ customer.creationTime | dateTime }}</span></p>
					<p><b>Last modified by:</b><span>{{ customer.modifiedBy }}</span></p>
					<p><b>Modification date:</b><span>{{ customer.modificationTime | dateTime }}</span></p>
					<p><b>Possible duplicate?:</b><span>{{ customer.possibleDuplicate }}</span></p>
					<p><b>Duplicate Customer ID:</b><span>{{ customer.duplicateCustomerId }}</span></p>
				</mat-card-content>
			</mat-card>
		</div>
		<div class="col-8">
			<mat-card class="card">
				<mat-card-header class="card-header">
					<mat-card-title>Customer Leads</mat-card-title>
				</mat-card-header>
				<mat-card-content class="content-detail">
							<mat-progress-bar mode="buffer" *ngIf="dataSource.loading$ | async"></mat-progress-bar>
							<mat-table #table [dataSource]="dataSource" matSort>
								<ng-container *ngFor="let display of displaySettings" [matColumnDef]="display.columnDef">
									<mat-header-cell *matHeaderCellDef mat-sort-header>{{ display.header }}</mat-header-cell>
									<mat-cell *matCellDef="let row" [ctStyleCell]="display.cell(row)" displayHeader="{{ display.header }}">{{ display.cell(row) | formatCell: display.header }}</mat-cell>
								</ng-container>
						
								<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
								<mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" (click)="openLeadDetail(row)"></mat-row>
							</mat-table>
							<mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
							</mat-paginator>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>